<% display_percent ||= false %>
<% unless product.master.volume_prices.blank? %>
<div id="bulk-discount">
  <h6><%= t(:bulk_discount) %></h6>
  <table>
	<% product.master.volume_prices.each do |v| %>
	<%= content_tag(:tr) do %>
	<%= content_tag :td, (v.open_ended? ? v.range : "#{v.range.to_range.begin}–#{v.range.to_range.end}") %>
	<%= content_tag :td, number_to_currency(v.amount)%>
	<%= content_tag(:td, "%i%" % (v.amount / product.master.price * 100)) if display_percent %>
	<% end %>
	<% end %>  	
  </table>
</div>
<%end%>
