<h3><%= t("volume_prices") %></h3>
<table class="index">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("range") %></th>
      <th><%= t("amount") %></th>
      <th><%= t("position") %></th>
      <th><%= t("action") %></th>
    </tr>
  </thead>
  <tbody id="volume_prices">
    <%= f.fields_for :volume_prices do |vp_form| %>
      <%= render 'volume_price_fields', :f => vp_form %>
    <% end %>
  </tbody>
</table>
<%= link_to_add_fields t("add_volume_price"), "tbody#volume_prices" %>
<br/><br/>

